*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
html,body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #f2eadf;
}
.container{
    position: relative;
    width: 340px;
    height: 600px;
    background: #fff;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}
header{
    position: relative;
    padding: 20px 10px;
    background: #008069;
    display: flex; 
    justify-content: space-between;
}
header .logo{
    text-decoration: none;
    color: #fff;
    font-size: 1.1rem;
    font-weight: 600;
}
header .action{
    position: relative;
    display: flex;
    gap: 10px;
}
header .action a{
    color: #fff;
    text-decoration: none;
}
header .action a ion-icon{
    color: white;
    font-size: 20px;
    font-weight: 800;
}
 
.tabs input{
    visibility: hidden;
    display: none;
}
.buttons{
    position: relative;
    display: flex;
    background: #008069;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
.buttons label{
    width: 33.33%;
    opacity: 0.75;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    text-transform: uppercase;
    font-size: .9em;
    font-weight: 700;
    cursor: pointer;
}
.tabs input:nth-child(1):checked ~ .buttons label:nth-child(1),
.tabsd input:nth-child(2):checked ~ .buttons label:nth-child(2),
.tabs input:nth-child(3):checked ~ .buttons label:nth-child(3)
{
    opacity: 1;
}

.underline{
    width: 33.33%;
    background: white;
    position: absolute;
    left: 0;        
    bottom: 0;
    border-bottom: 2px solid white;
    height: 3px;
}
.tabs input:nth-child(1):checked ~ .buttons .underline{
    left: 0;
    transition: .3s;
}
.tabs input:nth-child(2):checked ~ .buttons .underline{
    left: 33.33%;
    transition: .3s;
}
.tabs input:nth-child(3):checked ~ .buttons .underline{
    left: 66.66%;
    transition: .3s;
}

.content{
    position: relative;
    width: calc(340px * 3);
    display: flex;
    
}
.content .box{
    width: 340px;
    position:relative;
}

.tabs input:nth-child(1):checked ~ .content{
    left: calc(340px*0);
    transition: .5s;
}
.tabs input:nth-child(2):checked ~ .content{
    left: calc(340px*-1);
    transition: .5s;
}
.tabs input:nth-child(3):checked ~ .content{
    left: calc(340px*-2);
    transition: .5s;
}
/*************** chats list ******************/
.content .data{
    position: relative;
    width: 100%;
    height: 510px;
    /* background: rgb(163, 158, 158); */
}
.content .chatlist{
    position: relative;
    height: 100%;
    overflow-y: auto;
}
.chatlist .block{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px;
    padding: 15px 10px;
    cursor: pointer;
}
.chatlist .block:hover{
    background: #f5f5f5;
}
.content .imgbox{
    position: relative;
    min-width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
}
.content .imgbox img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
}
.content .details{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.content .chatHead{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 3px;
}
.content .chatHead h4{
    font-size: 17px;
}
.content .chatHead .time{
    font-size: 12px;
    /* color: rgb(69, 209, 69); */
    
}
.content .message_p{
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* background: red; */
}
.content .message_p p{
    font-size: .9em;
    /* color: rgb(87, 82, 82); */
    font-weight: 500;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    overflow: hidden;
    /* background: yellow; */
    width: auto;
    max-height: 16px;
}
 .seen_msg{
    color: rgb(87, 82, 82);
}
 .unseen_msg{
    color: rgb(31, 224, 40);
}
.content .message_p b{
    width: 18px !important; 
    height: 18px !important;
    font-size: 10px;
    border-radius: 50%;
    background: rgb(69, 209, 69);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 5px;
}

::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background: transparent;
}
::-webkit-scrollbar-thumb{
    background: #bbb;
}

/****************status*************** */
.status .plus{
    position: absolute;
    top: 40px;
    left: 40px;
    background: #008069;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 3px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.status .details{
    padding: 3px 5px;
}

label{
    padding: 0 15px;
    color: #555;
    font-size: 0.85em;
    font-weight: 600;
}

.unseen .imgbox{
    box-shadow: 0 0 0 2px #fff,
    0 0 0 4px #008069;
}
.seen .imgbox{
    box-shadow: 0 0 0 2px #fff,
    0 0 0 4px #bbb;
}

/* *******calls************* */


.calls_d_flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calls_time{
    font-size: 14px;
    font-weight: 600;
    color: #555;
    padding-bottom: 3px;
}
.call_in_out{
    padding: 0 5px;
}
.calls .incoming{
    color: red;
    font-size: 19px;
    font-weight: 600;
}
.calls .outgoing{
    color: #41f341;
    font-size: 19px;
    font-weight: 600;
}
.call_type{
    color: #008069;
}
.call_type ion-icon{
    color: #008069;
    font-size: 20px;
}
/* ************************ */

.bottom_option{
    position:absolute;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
    background: #008069;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bottom_option ion-icon{
    font-size: 22px;
    color: white;
    font-weight: 500;
}
.pencil{
    position: absolute;
    bottom: 70px;
    right: 15px;
    background: #bbb;
    width: 40px;
    height: 40px;
    color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
}